# Python Virtual environments
env/
.venv/
venv/
ENV/
env.bak/
venv.bak/

# Ignore everything under week2_HW
week2_HW/*
week1_HW/arena.txt
week1_HW/LLM exercise.py
week1_HW/long_text.txt

# Except these specific files and folders
!week2_HW/4_dd/
!week2_HW/4_dd/**
!week2_HW/download_and_ocr_talks.py
!week2_HW/arxiv_pdf_ocr.ipynb
!week2_HW/arxiv_scraper.py